[run]
branch = true
omit = */tests/*, */migrations/*, */urls.py, */settings/*, */wsgi.py, __init__.py, manage.py
source = .

[report]
show_missing = true
sort = Name

[html]
directory = coverage_html_report

[xml]
# Generate XML report
output = coverage.xml
